<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

   <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="logo.png" width="70" height="65" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="main-navigation">
                        <nav class="header-menu">
                            <ul class="menu food-nav-menu">
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/about">About</a></li>
                                <li><a routerLink="/menu">Menu</a></li>
                                <li><a routerLink="/gallery">Gallery</a></li>
                                <li><a routerLink="/contact">Contact</a></li>

                            </ul>
                        </nav>
                        <div class="header-right">
                            
                            
                            <a href="/login" class="header-btn">
                        
                                <i class="uil uil-user-md"></i>
                            </a>
                            <a href="cart" class="header-btn">
                                <i class="uil uil-shopping-bag"></i>

                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>