<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<div id="viewport">
    <div id="js-scroll-content">
        <section class="main-banner" id="home">
            <div class="js-parallax-scene">
                
            </div>
            <div class="sec-wp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-text">
                                <h1 class="h1-title">
                                    Welcome to 
                                    <span>Tabliah</span>
                                    restaurant.
                                </h1>
                                <p>Experience authentic Egyptian cuisine at our restaurant,
                                     where traditional flavors and timeless recipes come together
                                      to bring you a true taste of Egypt</p>
                                <div class="banner-btn mt-4">
                                    <a href="/menu" class="sec-btn" style="text-decoration: none;">Check our Menu</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-img-wp">
                                <div class="banner-img" style="background-image: url(intro.webp);">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>