<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px; background-color: transparent; width: auto; max-width: 100%;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-4">Create an account</h2>
  
              <form>
                <div class="form-outline mb-3">
                  <label class="form-label custom-label" for="form3Example1cg">
                    Your Name
                    <span class="label-icon"></span>
                  </label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg w-100" />
                </div>
  
                <div class="form-outline mb-3">
                  <label class="form-label custom-label" for="form3Example3cg">
                    Your Email
                    <span class="label-icon"></span>
                  </label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg w-100" />
                </div>
  
                <div class="form-outline mb-3">
                  <label class="form-label custom-label" for="form3Example4cg">
                    Password
                    <span class="label-icon"></span>
                  </label>
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg w-100" />
                </div>
  
                <div class="form-outline mb-3">
                  <label class="form-label custom-label" for="form3Example4cdg">
                    Repeat your password
                    <span class="label-icon"></span>
                  </label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg w-100" />
                </div>
  
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="/terms" class="fw-bold text-decoration-none"><u>Terms of service</u></a>
                  </label>
                </div>
  
                <div class="d-flex justify-content-center">
                  <a href="/login"><button type="button" data-mdb-button-init data-mdb-ripple-init 
                    class="btn btn-block custom-btn w-100 ">Register</button></a>
                </div>
  
                <p class="text-center text-muted mt-4 mb-0">Have already an account? 
                  <a href="/login" class="fw-bold  text-decoration-none"><u>Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  