section {
    min-height: 100vh;
    background: url('../../../../public/salad-tomatoes-greens-dressing-oil-feta-cheese-blue-plate-white-wooden-background-top-view-banner-website-52717635.jpg');  
    background-size: cover;
    background-position: center;
}